<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">{{editMode? 'Save' :
            'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image</label>
            <input type="text" id="imagePath" name="imagePath" class="form-control" formControlName="imagePath"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" name="description" class="form-control"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <h3>Ingredients</h3>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <div class="row" *ngFor="let ingredient of ingredients; let i = index" [formGroupName]="i"
            style="margin: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" [value]="ingredient.value['name']" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" [value]="ingredient.value['amount']" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12"><button class="btn btn-success" type="button" (click)="onAddIngredient()">Add
                Ingredient</button></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>